main .article-inner {
  .article-entry {
    margin-top: 5rem;

    blockquote {
      margin: 1rem 0 1rem 1rem;
      color: #777;
      padding: 0 3px;
      @include  desktop {
        padding: 0 1.5rem;
      }
      border-left: 4px solid #ddd;
    }
  }
}
